body {
    font-size:1em;
    font-family:"GothamRnd-Light";
    color:black;
    margin:0;
    margin-top: 0;
    padding:0;
    min-width: 1000px;
}
h2
{
    color:grey;
}
@font-face
{
    font-family: 'GothamRnd-Light';
    /*<link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>*/
    src: url("fonts/GothamRnd-Light.otf")
}

.page {
margin: 0;
padding: 0;
width: 100%;
overflow: hidden;
}
.persona
{
    position: relative;
    float:right;
    border: 2px black solid;
    border-radius: 8px;
    box-shadow: 5px 5px 3px black;
    margin-right: 20px;
}
.spacer {
    clear:both;
}
section {
    background: url("images/kindajean_@2X.png") repeat fixed;
    border-radius: 8px;
}
.3-col {
    float:right;
    width:75%;
    margin:1em 0;
}
.titre-content {
    position:relative; 
    width: 75%;
    text-align:center;
}
.col {
    float: right;
    width:24%;
    margin : 0.5em 0;
    font-size: 0.8em;
}
.col_liseret {
    float: left;
    width:20%;
    height: 610px;
    margin:0;
    margin-left: 1px;
    font-size: 0.8em;
    border-radius: 8px;
    box-shadow: 5px 5px 3px black;
    background: url("images/always_grey.png") repeat fixed;
}
h1,h2, p {
margin: 1em;
position: relative;
}
